.input{
    height: 40px;
    font-size: 20px;
    background-color: var(--gray-2900);
    border: 0;
    border-radius: 10px;
    padding: 10px;
    color: var(--gray-1800);
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: var(--gray-2800)
    }
}

.container{
    width: 100%;
    .input{
        width: 100%;
    }
    .button{
        width: 15%;
    }
}