.input {
  height: 40px;
  font-size: 20px;
  background-color: var(--gray-2900);
  border: 0;
  border-radius: 10px;
  padding: 10px;
  color: var(--gray-1800);
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--gray-2800);
  }
}

.container {
  width: 100%;
  .input {
    width: 100%;
  }
  .button {
    width: 15%;
  }
}

.otherUserWrite {
  color: var(--gray-1800);
  position: absolute;
  top: 50px;
  animation-name: blinkAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes blinkAnimation {
  0% {
    color: var(--gray-2900);
  }
  50% {
    color: var(--gray-1800);
  }
  100% {
    color: var(--gray-2900);
  }
}

.gif {
  z-index: 3;
  background: var(--white);
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 5px;
  position: absolute;
  top: 19px;
  left: 90%;
  cursor: pointer;
  &:hover{
    background-color: var(--gray-1800);
  }
}

.gifPicker{
  position: absolute;
  top: -450px;
  right: 20px;
}
