.container {
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  top: 40%;
  left: 35%;
  background-color: var(--gray-2900);
  color: var(--white);

  form > input {
    background-color: var(--gray-3000);
    border: 0;
    border-radius: 10px;
    padding: 10px;
    color: var(--gray-1800);
    font-size: 20px;
  }

  .errors {
    background-color: var(--error);
    padding: 10px;
    color: var(--gray-2900);
  }
}
