.message {
    padding: 10px;
    &:hover{
        background-color: var(--gray-3200);
    }
  .pseudo {
    font-weight: bold;
    color: var(--white);
  }

  .date {
    font-size: 12px;
    color: var(--gray-2400);
  }

  .text {
    color: var(--gray-1200);
  }
}
