.container{
    color: var(--white);
    background-color: var(--gray-2900);
    width: 150px;
    height: 100%;
    padding: 10px;
    position: fixed;
    right: 0;
    li{
        padding: 5px;
        cursor: pointer;
    }

    .crown{
        color: yellow;
    }
}