.container{
    width: 100%;
}

.message{
    width: 100%;
    margin-right: 150px;
    margin-bottom: 70px;
}

.ShowChannel{
    display: inherit;
}

.form{
    position: fixed;
    bottom: 0;
    height: 70px;
    padding: 10px;
    background-color: var(--gray-3000);
    width: 100%;
}