.container{
    color : var(--white);
    background-color: var(--gray-2900);
    width: 150px;
    position: fixed;
    height: 100%;
    h2{
        text-align: center;
    }

    li{
        padding: 10px;
        &:hover{
            color: var(--gray-1800);
            cursor: pointer;
        }
    }

    .icon{
        font-size: 40px;
    }
}