.container {
  color: var(--white);
  background-color: var(--gray-2900);
  width: 150px;
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 50px;
  @media only screen and (max-width: 600px) {
    position: absolute;
    width: 100%;
    z-index: 99;
  }

  h2 {
    text-align: center;
  }
  ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 10px;
    &:hover {
      color: var(--gray-1800);
      cursor: pointer;
    }
    text-align: center;    
    .img{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      transition: all 0.5s;
      &:hover{
        border-radius: 10px;
      }
      img{
        height: 100%;
        width: auto;
      }
    }
    .active{
      border-radius: 10px;
      border: 2px solid white;
    }
    
  }

  .privateMessage{
    margin-top: 50px;
    font-size: 50px;
    background-color: var(--gray-3200);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
      border-radius: 10px;
    }
  }

  .active{
    border-radius: 10px;
    border: 2px solid white;
  }

  .icon {
    font-size: 40px;
  }

  .compass {
    margin-bottom: 150px;
  }
}



.container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.container::-webkit-scrollbar-track {
  background: var(--gray-2900);
}
.container::-webkit-scrollbar-thumb {
  background: var(--gray-1800);
}
.container:hover::-webkit-scrollbar-thumb {
  background: var(--gray-1800);
}
.container::-webkit-scrollbar-thumb:horizontal:hover,
.container::-webkit-scrollbar-thumb:vertical:hover {
  background: var(--gray-2500);
}
.container::-webkit-scrollbar-thumb:horizontal:active,
.container::-webkit-scrollbar-thumb:vertical:active {
  background: var(--gray-2500);
}
